.DS_Store
backend/.venv/
frontend/node_modules/
frontend/dist/
.pytest_cache/
__pycache__/
*.pyc
.env

# Python virtual environment
.venv/

# Large/raw datasets
data/raw/

# Generated routing graphs
data/processed/roads/*.pkl
data/processed/roads/*.graphml

# OS files
.DS_Store
